<html ng-app="bnet-music-player" lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="public/css/style.css" rel="stylesheet" />

  <title>Classic Battle.net Music</title>

  <script src="public/js/jquery.min.js"></script>
  <script src="public/js/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="public/js/bower.js"></script>
  <script src="public/js/app.js"></script>

</head>

<body ng-controller="BaseController" class="container-fluid">

  <div ng-cloak>
    <div class="col-sm-4 col-sm-offset-4 player">
      <div class="row">
        <div class="col-xs-3 height">
          <img ng-src="{{ song.paused && 'public/img/play-circle.svg' || 'public/img/pause.svg' }}" alt="play" ng-click="song.paused ? song.play() : song.pause()"
            class="play-btn img-responsive" />
        </div>
        <div class="col-xs-9 controls-btn">
          <h3>{{ current.artist }}</h3>
          <h4>{{ current.title }}</h4>
          <br/>
          <img ng-src="public/img/skip-back.svg" alt="backp" ng-click="prev()">
          <img ng-src="public/img/skip-forward.svg" alt="forward" ng-click="next()">
          <span class="pull-right">{{ song.currentTime | trackTime }} / {{ song.remaining + song.currentTime | trackTime }}</span>          <br/> <br>
          <img ng-src="{{ shuffle && 'public/img/shuffle - active.svg' || 'public/img/shuffle.svg'}}" alt="shuffle" ng-click="shuffleT()">
          <img ng-src="{{ repeat && 'public/img/repeat - active.svg' || 'public/img/repeat.svg'}}" alt="repeat" ng-click="repeatT()">
          <span class="pull-right"><img ng-src="{{ listShown && 'public/img/chevrons-up.svg' || 'public/img/chevrons-down.svg'}}" alt="list" ng-click="showList()"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4 list animate-show animate-hide" ng-show="listShown">
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#sc">Starcraft</a></li>
        <li><a data-toggle="pill" href="#d">Diablo</a></li>
        <li><a data-toggle="pill" href="#d2">Diablo 2</a></li>
        <li><a data-toggle="pill" href="#d2l">Diablo 2 - LOD</a></li>
      </ul>
      <div class="tab-content">
        <div id="sc" class="tab-pane fade in active">
          <table class="table table-hover">
            <tr ng-repeat="song in music track by $index" ng-if="song.artist === 'StarCraft Soundtrack' || song.artist === 'StarCraft: Brood War Soundtrack'">
              <td>
                <span ng-click="jump($index)">{{song.title}}</span>
                </td>
            </tr>
          </table>
        </div>
        <div id="d" class="tab-pane fade">
          <table class="table table-hover">
            <tr ng-repeat="song in music" ng-if="song.artist === 'Diablo Soundtrack'">
              <td>
                <span ng-click="jump($index)">{{song.title}}</span>
                </td>
            </tr>
          </table>
        </div>
        <div id="d2" class="tab-pane fade">
          <table class="table table-hover">
            <tr ng-repeat="song in music" ng-if="song.artist === 'Diablo II Soundtrack'">
              <td>
                <span ng-click="jump($index)">{{song.title}}</span>
                </td>
            </tr>
          </table>
        </div>
        <div id="d2l" class="tab-pane fade">
          <table class="table table-hover">
            <tr ng-repeat="song in music" ng-if="song.artist === 'Diablo II LOD Soundtrack'">
              <td>
                <span ng-click="jump($index)">{{song.title}}</span>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

</body>

</html>