<html ng-app="bnet-music-player" lang="en-us">
<head>
  <meta charset="utf-8" />
  
  <link href="public/css/bower.css" rel="stylesheet" />
  <link href="public/css/style.css" rel="stylesheet" />

  <title>Classic Battle.net Music</title>

  <script src="public/js/jquery.min.js"></script>
  <script src="public/js/angular.min.js"></script>
  <script src="public/js/bower.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.2/angular.audio.min.js"></script>

  <script src="public/js/app.js"></script>

</head>

<body ng-controller="BaseController" class="pure-g">

  <div class="player pure-u-1-3" dynamic-background="" background-image="{{ backgroundUrl }}">

    <button class="btn" ng-click="play()">
      <span ng-if="nowPlaying"><i class="fa fa-pause" aria-hidden="true"></i></span>
      <span ng-if="!nowPlaying"><i class="fa fa-play" aria-hidden="true"></i></span>
    </button>

  </div>

</body>
</html>
