body {
  background-color: #3598DB;
  background-image: url('../img/blizz-wp.jpg');
  font-family: 'Open Sans', sans-serif;

  .list {
    box-shadow: 0 0 1px 1px lightgray;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 20px;
    height: 40%;

    td {
      cursor: pointer;
    }
  }

  .tab-content {
    overflow: scroll;
    height: 80%;
    overflow-x: hidden;
  }

  .player {
    box-shadow: 0 0 1px 1px lightgray;
    border-radius: 5px;
    margin-top: 15rem;
    height: 20%;
    background-image: -webkit-linear-gradient(left, #14517D, #14517D 25%, white 25%, white 100%);

    img {
      cursor: pointer;
    }

    .controls-btn {
        height: 100%;
        padding-left: 30px;

        h3 {
          color: #3A9AC4;
        }
    }

    .height {
      height: 100%;

      .play-btn {
      position: relative;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      }

    }
    // Generated Range CSS

  }

}