html body {
  text-align: center;
  background: #87604e;
  width: 100%;
  height: 100%;
  margin: 0;
  color: white; }
  html body .playlist {
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 0;
    background: #242321;
    opacity: 0.8;
    height: 30vh;
    overflow: scroll;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }
    html body .playlist .odd {
      background-color: 313133; }
    html body .playlist .current {
      color: #0aa09c; }
    html body .playlist .track {
      padding: 15px 15px 15px 15px;
      height: 20px; }
  html body .player {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #242321;
    opacity: 0.8;
    margin-bottom: 0;
    position: relative;
    margin-top: 20vh;
    height: 25vh;
    padding-left: 15px;
    padding-right: 15px; }
    html body .player .title {
      text-align: center;
      padding-top: 1vh;
      color: white; }
      html body .player .title .tag {
        text-transform: uppercase; }
    html body .player .control {
      text-align: center;
      color: white;
      padding: 0 0 0 0;
      height: 10vh; }
      html body .player .control .run {
        color: #785747; }
      html body .player .control #repeat {
        padding-top: 3vh;
        position: absolute;
        left: 15px; }
      html body .player .control #shuffle {
        padding-top: 3vh;
        position: absolute;
        right: 15px; }
      html body .player .control #prev, html body .player .control #next {
        padding-bottom: 1vh;
        height: 7vh; }
      html body .player .control #play {
        height: 10vh; }
      html body .player .control img {
        margin-top: 1vh;
        height: 20pt;
        -webkit-filter: invert(100%);
        filter: invert(100%); }
    html body .player .progress {
      margin-bottom: 10px; }
      html body .player .progress input {
        width: 100%;
        margin-bottom: 5px; }
      html body .player .progress #passed {
        float: left; }
      html body .player .progress #remaining {
        float: right; }
